@model StudentTestsWeb.Models.Entities.Student
@{
    ViewData["Title"] = "Добвление студента";
}

<form asp-action="create" asp-controller="home">
    <input type="text" asp-for="StudentId" value="0" hidden />
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Фамилия</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FatherName" class="control-label">Отчество</label>
        <input type="text" asp-for="FatherName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Group" class="control-label">Группа</label>
        <input type="text" asp-for="Group" class="form-control" />
    </div><div class="form-group">
        <label asp-for="Mail" class="control-label">Почта</label>
        <input type="text" asp-for="Mail" class="form-control" />
    </div><div class="form-group">
        <label asp-for="Password" class="control-label">Пароль от кредитной карты</label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

